In [12]:
import pandas as pd
import os

# Установить путь к папке data / # Set path to data folder
data_path = os.path.join(os.path.dirname(os.getcwd()), 'data')


# Get list of all Excel files in data folder / Получить список всех Excel файлов в папке data
excel_files = [f for f in os.listdir(data_path) if f.endswith(('.xlsx', '.xls')) and f.startswith('listings')]

# Create empty list for dataframes / Создать пустой список для датафреймов
dfs = []

# Process each file / Обработать каждый файл
for file in excel_files:
    file_path = os.path.join(data_path, file)
    print(f"\nProcessing file: {file}")
    
    try:
        # Read Excel file / Прочитать Excel файл
        df = pd.read_excel(file_path)
        
        # Select required columns / Выбрать нужные колонки
        required_columns = ['id', 'last_scraped', 'room_type', 'price', 'neighbourhood_cleansed', 'accommodates', 'bathrooms_text', 'beds']
        df = df[required_columns]
        
        # Add dataframe to list / Добавить датафрейм в список
        dfs.append(df)
        print(f"Successfully processed file:{file}")
        print(f"Dataframe size: {df.shape}")
        print("\nFirst rows:")
        print(df.head())
        
    except Exception as e:
        print(f"Error processing file {file}: {str(e)}")

# Combine all dataframes / Объединить все датафреймы
if dfs:
    combined_df = pd.concat(dfs, ignore_index=True)
    print(f"\nTotal size of combined dataframe:  {combined_df.shape}")
    print("\nFirst rows of combined dataframe:")
    print(combined_df.head())
else:
    print("\nNo dataframes were successfully processed")

Processing file: listings 03_2024.xlsx
Successfully processed file:listings 03_2024.xlsx
Dataframe size: (26024, 8)

First rows:
       id last_scraped        room_type    price neighbourhood_cleansed  \
0   21853   2024-03-22     Private room   $31.00               Cármenes
1   24805   2024-03-22  Entire home/apt   $92.00            Universidad
2  204570   2024-03-22  Entire home/apt  $180.00                 Cortes
3   30320   2024-03-22  Entire home/apt      NaN                    Sol
4  205199   2024-03-22  Entire home/apt   $65.00            Universidad

   accommodates bathrooms_text  beds
0             1         1 bath   1.0
1             3         1 bath   2.0
2             5        2 baths   2.0
3             2         1 bath   NaN
4             2         1 bath   1.0

Processing file: listings 03_2025.xlsx
Successfully processed file:listings 03_2025.xlsx
Dataframe size: (25288, 8)

First rows:
      id last_scraped        room_type   price neighbourhood_cleansed  \
0  21853   2025-03-11     Private room  $29.00               Cármenes
1  30320   2025-03-10  Entire home/apt     NaN                    Sol
2  30959   2025-03-10  Entire home/apt     NaN            Embajadores
3  40916   2025-03-10  Entire home/apt     NaN            Universidad
4  62423   2025-03-12     Private room  $77.00               Justicia

   accommodates    bathrooms_text  beds
0             1            1 bath   1.0
1             2            1 bath   NaN
2             2            1 bath   NaN
3             3            1 bath   NaN
4             4  1.5 shared baths   2.0

Processing file: listings 06_2024.xlsx
Successfully processed file:listings 06_2024.xlsx
Dataframe size: (26924, 8)

First rows:
                    id last_scraped     room_type    price  \
0  1104967621421098322   2024-06-15  Private room   $68.00
1   930941073152690361   2024-06-15  Private room   $16.00
2             51647382   2024-06-15  Private room   $25.00
3  1026072412626070839   2024-06-15  Private room   $26.00
4   766423030884644417   2024-06-15  Private room  $100.00

  neighbourhood_cleansed  accommodates bathrooms_text  beds
0               Pacífico             2         1 bath   0.0
1              San Diego             2         1 bath   1.0
2              San Diego             1  1 shared bath   3.0
3                 Opañel             3  1 shared bath   2.0
4                  Lista             1  1 shared bath   1.0

Processing file: listings 09_2024.xlsx
Successfully processed file:listings 09_2024.xlsx
Dataframe size: (26980, 8)

First rows:
                   id last_scraped        room_type price  \
0  920645654779749874   2024-09-11  Entire home/apt   NaN
1  889210192192502279   2024-09-11     Private room   NaN
2            40774969   2024-09-11     Private room   NaN
3            19406581   2024-09-11     Private room   NaN
4            19495912   2024-09-11     Private room   NaN

  neighbourhood_cleansed  accommodates bathrooms_text  beds
0                 Cortes             4         1 bath   NaN
1        Palos de Moguer             1         1 bath   NaN
2            Prosperidad             2  1 shared bath   NaN
3            Universidad             2  1 shared bath   NaN
4               Cármenes             2  1 shared bath   NaN

Processing file: listings 12_2024.xlsx
Successfully processed file:listings 12_2024.xlsx
Dataframe size: (26760, 8)

First rows:
      id last_scraped        room_type   price neighbourhood_cleansed  \
0  21853   2024-12-12     Private room  $31.00               Cármenes
1  30320   2024-12-12  Entire home/apt     NaN                    Sol
2  30959   2024-12-12  Entire home/apt     NaN            Embajadores
3  40916   2024-12-12  Entire home/apt     NaN            Universidad
4  62423   2024-12-12     Private room  $69.00               Justicia

   accommodates    bathrooms_text  beds
0             1            1 bath   1.0
1             2            1 bath   NaN
2             2            1 bath   NaN
3             3            1 bath   NaN
4             4  1.5 shared baths   2.0

Total size of combined dataframe:  (131976, 8)

First rows of combined dataframe:
       id last_scraped        room_type    price neighbourhood_cleansed  \
0   21853   2024-03-22     Private room   $31.00               Cármenes
1   24805   2024-03-22  Entire home/apt   $92.00            Universidad
2  204570   2024-03-22  Entire home/apt  $180.00                 Cortes
3   30320   2024-03-22  Entire home/apt      NaN                    Sol
4  205199   2024-03-22  Entire home/apt   $65.00            Universidad

   accommodates bathrooms_text  beds
0             1         1 bath   1.0
1             3         1 bath   2.0
2             5        2 baths   2.0
3             2         1 bath   NaN
4             2         1 bath   1.0

In [13]:
 # Save combined dataframe / Сохранить объединенный датафрейм в Excel файл
output_path = os.path.join(data_path, 'combined_data2.xlsx')
combined_df.to_excel(output_path, index=False)
print(f"\Combined dataframes were successfully saved: {output_path}")

<>:4: SyntaxWarning: invalid escape sequence '\C'
<>:4: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Maryna24\AppData\Local\Temp\ipykernel_12960\2585067005.py:4: SyntaxWarning: invalid escape sequence '\C'
  print(f"\Combined dataframes were successfully saved: {output_path}")

\Combined dataframes were successfully saved: C:\Users\Maryna24\Desktop\Factoria\Proyectos\MODULO II\Regresion lineal\Grupo 3\Proyecto-Regression---Grupo-3\data\combined_data2.xlsx